/*---------- ETIQUETAS */
:root {
    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --link-color: rgb(0, 220, 220);
}

body {
    display: grid;
    grid-template-areas: 'Cabecera' 
    'Menu' 
    'Contenido_1' 
    'PiePag';
}

img {
    border: var(--bg-card) 1px solid;
    width: 80%;
}

nav {
    display: none !important;
}

/*---------- CLASES */
/*---------- ID */
#images {
    display: grid;
    justify-items: center;
}

#main {
    display: grid;
    grid-area: Contenido_1;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
