/*---------- ETIQUETAS */
* {
    box-sizing: border-box !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px !important;
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
    text-decoration: none !important;
}

:root {
    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --link-color: rgb(0, 220, 220);
}

a {
    color: var(--light-color);
}

footer {
    display: grid;
    grid-area: PiePag;
    min-height: 50px;
    width: calc(100vw - 0.35rem);
}

header {
    border: var(--bg-card) 2px solid;
    display: flex;
    flex-wrap: wrap;
    grid-area: Cabecera;
    width: calc(100vw - 0.35rem);
}

nav {
    background-color: var(--bg-card);
    grid-area: Menu;
    width: calc(100vw - 0.35rem);
}

/*---------- Barra de desplazamiento*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 90, 90, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 50, 50, 1);
}

/*---------- CLASES */
.body-Background {
    background-color: var(--bg-body) !important;
}

.card-Background {
    background-color: var(--bg-card) !important;
}

.header-Elements-Container {
    gap: 0.25rem !important;
}

.light-Color {
    color: var(--light-color) !important;
}

.page-Image{
    flex: 0 0 auto;
    width: fit-content;
}

.page-Name {
    flex: 0 0 auto;
    width: 50%;
}

.search {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 30%;
}

.user {
    align-items: center;
    border: var(--bg-button) 1px solid;
    border-radius: 10px;
    color: var(--light-color);
    display: flex;
    flex: 0 0 auto;
    justify-content: end;
    padding: 0.5rem 0.7rem !important;
    width: fit-content;
}

.user-Name {
    padding-right: 0.5rem !important;
}

/*---------- ID */
#button-Search {
    background-color: var(--light-color);
    border: var(--light-color) 1px solid;
    color: var(--dark-color);
    padding: 0.2rem !important;
    position: absolute;
    right: 0% !important;
}

#logo {
    width: 70px;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
footer h5, header h1, nav a {
    font-size: 1.3rem !important;
}

footer, header {
    background-color: var(--bg-main);
}

img:hover {
    filter: grayscale();
}

nav a:hover {
    background-color: var(--link-color) !important;
    border-radius: 10px;
    color: var(--dark-color) !important;
}

.user:hover {
    background-color: var(--bg-button);
    cursor: pointer;
}