@media (max-width: 960px) and (min-width: 721px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
/*---------- ID */
#bookmark-Icon {
    font-size: 1.1rem !important;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
.lists li, #main-List {
    font-size: 0.9rem !important;
}

}

@media (max-width: 720px) and (min-width: 481px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
/*---------- ID */
#bookmark-Icon {
    font-size: 1.1rem !important;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
.lists li, #main-List {
    font-size: 0.9rem !important;
}

}

@media (max-width: 480px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
/*---------- ID */
#bookmark-Icon {
    font-size: 1rem !important;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
.lists li, #main-List {
    font-size: 0.8rem !important;
}

}