@media (max-width: 1080px) and (min-width: 961px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.anime-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 45%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.anime-Image {
    width: 20%;
}

.information {
    width: 76%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
}

@media (max-width: 960px) and (min-width: 721px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.anime-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 45%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.anime-Image {
    width: 25%;
}

.information {
    width: 70%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.card-title , #bookmark-Icon {
    font-size: 1.1rem !important;
}

.extra-Info li, .lists li, .list-group li, #anime-Description, #list-Main {
    font-size: 0.9rem !important;
}

}

@media (max-width: 720px) and (min-width: 481px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.anime-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 50%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.anime-Image {
    width: 33%;
}

.information {
    width: 60%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.card-title , #bookmark-Icon {
    font-size: 1.1rem !important;
}

.extra-Info li, .lists li, .list-group li, #anime-Description, #list-Main {
    font-size: 0.9rem !important;
}

}

@media (max-width: 480px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.anime-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 50%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.anime-Image {
    display: none !important;
}

.information {
    width: 90%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.card-title , #bookmark-Icon {
    font-size: 1rem !important;
}

.extra-Info li, .lists li, .list-group li, #anime-Description, #list-Main {
    font-size: 0.8rem !important;
}

}