@media (max-width: 1080px) and (min-width: 961px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.element-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 45%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.element-Image {
    width: 20%;
}

.information {
    width: 76%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
}

@media (max-width: 960px) and (min-width: 721px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.card-title {
    font-size: 1.1rem !important;
}

.element-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 45%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.element-Image {
    width: 25%;
}

.information {
    width: 70%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.extra-Info li, #element-Description {
    font-size: 0.9rem !important;
}

}

@media (max-width: 720px) and (min-width: 601px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.card-title {
    font-size: 1.1rem !important;
}

.element-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 50%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.element-Image {
    width: 33%;
}

.information {
    width: 60%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.extra-Info li, #element-Description {
    font-size: 0.9rem !important;
}

}

@media (max-width: 600px) and (min-width: 551px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.card-title {
    font-size: 1.1rem !important;
}

.element-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 50%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.element-Image {
    width: 40%;
}

.information {
    width: 53%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.extra-Info li, #element-Description {
    font-size: 0.9rem !important;
}

}

@media (max-width: 550px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
.card-title {
    font-size: 1rem !important;
}

.element-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 50%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.element-Image {
    display: none !important;
}

.information {
    width: 90%;
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */

.extra-Info li, #element-Description {
    font-size: 0.8rem !important;
}

}