/*---------- ETIQUETAS */
:root {
    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --link-color: rgb(0, 220, 220);
}

body {
    display: grid;
    grid-template-areas: 'Cabecera' 
    'Contenido_1'
    'Menu' 
    'Contenido_2' 
    'PiePag';
}

/*---------- CLASES */
.active {
    border-bottom: var(--bg-main) 5px solid;
    border-radius: 10px;
}

.card {
    height: 95% !important;
    max-width: 250px;
}

.elements-List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    overflow-x: auto;
}

.list-Title {
    background-color: var(--bg-main);
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem 1rem !important;
}

.user-Info {
    background-color: var(--bg-button);
    display: grid;
    height: fit-content;
    padding: 1.5rem 0rem !important;
}

/*---------- ID */
#main {
    display: grid;
    grid-area: Contenido_1;
    width: calc(100vw - 0.35rem);
}

#main-Info {
    flex-direction: column;
}

#secondary { 
    display: grid;
    grid-area: Contenido_2;
}

#user-Image {
    width: 75px;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
.lists .container {
    background-color: var(--bg-button);
    border-radius: 10px;
    max-width: 100% !important;
}

#secondary article { 
    width: calc(100vw - 0.35rem);
}


