/*---------- ETIQUETAS */
:root {
    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --link-color: rgb(0, 220, 220);
}

p {
    font-size: 1rem !important;
}

/*---------- CLASES */
.chapter-List {
    background-color: var(--bg-button) !important;
    color: var(--light-color);
}

/*---------- ID */
#app {
    display: grid;
    grid-template-areas: 'Cabecera' 
    'Menu' 
    'Contenido_1' 
    'PiePag';
}

#main {
    grid-area: Contenido_1;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
.chapter-List:hover {
    background-color: var(--bg-button-hover) !important;
}