/*---------- ETIQUETAS */
:root {
    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --link-color: rgb(0, 220, 220);
}

aside {
    background-color: var(--bg-card);
    border-radius: 10px;
    display: block;
    grid-area: Aside;
    min-width: 240px;
}

nav {
    display: none !important;
}

/*---------- CLASES */
.actual {
    background-color: var(--bg-card) !important;
    border: var(--link-color) 1px solid !important;
    color: var(--link-color) !important;
}

.button-Chapter {
    align-items: center;
    background-color: var(--bg-button);
    border: var(--bg-button) 1px solid;
    display: flex;
    height: 38px;
    justify-content: center;
    width: 38px;
}

.card-body {
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: justify;
}

.anime-Info {
    background-color: var(--bg-card);
    border-radius: 10px;
    color: var(--light-color);
}

.chapter-Info {
    width: fit-content;
}

.chapters-List {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(5, 1fr);
}

.cap-Video {
    min-height: min(500px, 50vw);
    padding: 0.5% 0.5% !important;
    width: 100%;
}

/*---------- ID */
#app {
    display: grid;
    grid-template-areas: 'Cabecera Cabecera' 
    'Menu Menu' 
    'Contenido_1 Aside'
    'Contenido_2 Contenido_2'
    'PiePag PiePag';
    grid-template-columns: 1fr 265px; 
}

#chapter-Changer {
    display: flex;
    width: 100%;
}

#chapter {
    display: flex;
}

#anime-Description {
    max-height: 120px;
    overflow-y: auto;
}

#main {
    grid-area: Contenido_1;
}

#secondary {
    grid-area: Contenido_2;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
aside h4, aside h5 {
    color: var(--light-color);
    width: fit-content;
}

.button-Chapter:hover {
    background-color: var(--bg-button-hover);
    border: var(--bg-button-hover) 1px solid;
}

#anime-Info-Back, #before, #next {
    background-color: var(--bg-button);
    border: var(--bg-button) 1px solid;
    color: var(--dark-color);
}

#anime-Info-Back:hover, #before:hover, #next:hover {
    background-color: var(--bg-button-hover);
    color: var(--light-color);
}

