/*---------- ETIQUETAS */
:root {
    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --link-color: rgb(0, 220, 220);
}

/*---------- CLASES */
.card-body {
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: justify;
}

.card-title {
    font-size: 1.2rem !important;
}

.element-Background-Image {
    background-image: url("/IMG/Fondo.avif");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 75%;
    z-index: -1;
}

.element-Gradient {
    background: linear-gradient(45deg, var(--bg-card) 40%, rgba(0, 90, 90, 0.3) 80%, rgba(0, 90, 90, 0) 100%);
}

.element-Image {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.information {
    width: 80%;
}

/*---------- ID */
#element-Description {
    max-height: 120px;
    overflow-y: auto;
    padding-right: 0.25rem !important;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
.extra-Info li, .extra-Info i {
    display: inline-block;
    margin: 0.25rem !important;
    width: fit-content;
}