/*---------- ETIQUETAS */
* {
    box-sizing: border-box !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px !important;
    margin: 0px !important;
    padding: 0px !important;
}

:root {
    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
}

body {
    height: 100%;
}

/*---------- CLASES */
.Background-Body {
    background-color: var(--bg-body);
}

.Icon {
    color: var(--light-color);
}

.Main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: min(500px, 50vw);
}

.Text {
    color: var(--light-color);
}

/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */