/*---------- ETIQUETAS */
:root {
    /*Elementos*/
    --bg-body: rgb(25, 25, 25);
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --link-color: rgb(0, 220, 220);
}

/*---------- CLASES */
.extra-Actions {
    display: flex;
}

.list-Element {
    background-color: transparent;
    color: var(--light-color);
    cursor: pointer;
}

.lists {
    background-color: var(--bg-main);
    border-radius: 10px;
    min-width: 100%;
    transform: translate(0px, 45px) !important;
}

/*---------- ID */
#bookmark-Icon {
    font-size: 1.2rem !important;
}

#button-Bookmark {
    background-color: transparent;
    border: var(--bg-button-hover) 1px solid;
}

#main-List {
    min-width: 148px;
    text-align: left;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
.btn-group button {
    background-color: var(--bg-button-hover);
    border: var(--bg-card) 1px solid !important;
    padding: 0.4rem 0.25rem !important;
}

.btn-group button:active {
    background-color: var(--bg-button-hover) !important;
    border: var(--bg-button-hover) 1px solid !important;
}

.btn-group button:focus {
    background-color: var(--bg-button-hover);
    border: var(--bg-button-hover) 1px solid !important;
}

.btn-group button:hover {
    background-color: var(--bg-button);
    border: var(--bg-button) 1px solid !important;
}

.list-Element:hover {
    background-color: var(--bg-button-hover);
    border-radius: 10px;
    color: var(--light-color);
}

#bookmark-Icon::before {
    vertical-align: -0.3rem !important;
}

#button-Bookmark:hover {
    background-color: var(--bg-button);
    border: var(--bg-button) 1px solid;
}
