/*---------- ETIQUETAS */
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    list-style: none;
}

:root {
    /*Botones*/
    --bg-button: rgb(0, 140, 140);
    --bg-button-hover: rgb(0, 70, 70);

    /*Elementos*/
    --bg-card: rgb(0, 90, 90);
    --bg-main: rgb(0, 50, 50);

    /*Texto*/
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);

    /*Login*/
    --bg-body-login: rgba(25, 25, 25, 0.3);
    --bg-inputs: rgba(0, 90, 90, 0.3);
    --bg-login: rgba(0, 50, 50, 0.3);
}

a {
    color: var(--light-color);
    text-decoration: none;
}

/*---------- CLASES */
.Forgot {
    font-size: clamp(0.7rem, 2vw, 0.8rem);
}

.Icon {
    position: absolute;
    right: 25px;
    top: 12px;
}

.Information {
    color: var(--light-color);
}

.Input-Field {
    background-color: var(--bg-inputs);
    border: var(--bg-main) 2px solid;
    border-radius: 30px;
    color: var(--dark-color);
    outline: none;
    padding: 0.5rem;
    width: 100%;
}

.Input-Login {
    background: var(--bg-button-hover); 
    border: none;
    border-radius: 30px;
    color: var(--light-color);
    cursor: pointer;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 600;
    padding: 0.6rem;
    transition: 0.3s;
    width: fit-content;
}

.Input-Wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Inputs {
    display: grid;
    font-size: clamp(0.8rem, 3vw, 1rem);
    gap: 1rem;
    grid-template-areas: "Campo_1 Campo_2"
    "Campo_3 Campo_3"
    "Campo_4 Campo_5";
}

.Label {
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.Login-Check {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Login-Form {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.8rem, 3vw, 1rem);
    gap: 1rem;
    margin-top: clamp(0.5rem, 3vw, 3rem);
}

.Login-Header {
    align-items: center;
    background-color: var(--bg-main);
    border-radius: 0 0 20px 20px;
    color: var(--light-color);
    display: flex;
    font-size: clamp(0.5rem, 6vw, 1.5rem);
    justify-content: center;
    left: 50%;
    padding: 0.5rem 1.5rem;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.Login-Wrapper {
    backdrop-filter: blur(25px);
    background-color: var(--bg-login);
    border: var(--bg-main) 2px solid;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 2px rgba(0, 90, 90, 0.5);
    color: var(--dark-color);
    padding: 4rem 1.5rem 1rem 1.5rem;
    position: relative;
}

.Login-Register {
    color: var(--bg-button);
}

.Register {
    text-align: center;
}

.Remember {
    align-items: center;
    display: flex;
    color: var(--light-color);
    gap: 0.25rem;
}

.Wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

/*---------- ID */
#Confirm-Password {
    grid-area: Campo_5;
}

#Email {
    grid-area: Campo_3;
}

#Name {
    grid-area: Campo_1;
}

#Password {
    grid-area: Campo_4;
}

#Remember-Me:checked {
    background-color: var(--bg-button);
}

#User {
    grid-area: Campo_2;
}

/*---------- COMBINADOS Y PSEUDOCLASES */
a:hover {
    text-decoration: underline;
}

.Input-Field:focus ~ .Label, .Input-Field:valid ~ .Label {
    background-color: var(--bg-main);
    border-radius: 30px;
    color: var(--light-color);
    left: 0%;
    padding: 0 10px;
    position: absolute;
    top: 0%;
}

.Input-Login:hover {
    background: var(--bg-button);
    color: var(--dark-color);
}

.Login-Header::after {
    background: transparent;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 0 var(--bg-main);
    content: "";
    height: 30px;
    position: absolute;
    right: -30px;
    top: 0;
    width: 30px;
}

.Login-Header::before {
    background: transparent;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 0 var(--bg-main);
    content: "";
    height: 30px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 30px;
}

.Login-Register a {
    font-weight: 500;
}
