@media (max-width: 960px) and (min-width: 721px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.list-group li {
    font-size: 0.9rem !important;
}

}

@media (max-width: 720px) and (min-width: 481px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.list-group li {
    font-size: 0.9rem !important;
}

}

@media (max-width: 480px) {
/*---------- ETIQUETAS */
/*---------- CLASES */
/*---------- ID */
/*---------- COMBINADOS Y PSEUDOCLASES */
.list-group li {
    font-size: 0.8rem !important;
}

}